body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  // home
  .home-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }
    .author-introduction {
      color: $middle-gray;
    }
    a {
      color: #2487b3;
    }
  }

  .category-container {
    border-top: 1px solid $light-category-border-color;
    border-bottom: 1px solid $light-category-border-color;
    border-right: 6px solid $light-category-border-color;
    border-left: 6px solid $light-category-border-color;
    background-color: $light-category-background-color;
    .item {
      border: 1px solid $light-category-border-color;
      background-color: $light-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      a {
        color: $light-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $light-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    border-left: 6px solid rgba($color: #000000, $alpha: 0.1);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    transition: border-color .3s, opacity .4s;
    h3 {
      color: $dark-gray;
    }
    p {
      color: $middle-gray;
    }
    &:hover {
      //text-shadow: $light-hover-text-shadow;
    }

  }
  .thumbnail:hover {
    border-color: rgba($color: #0687f0, $alpha: 0.5);
  }

  .footer {
    color: $light-gray;
    a {
      color: $dark-gray;
    }
  }
  
  h1,
  h2 {
    //border-bottom-color: rgba(255, 255, 255, 0.3);
    border-bottom-color: transparent;
    margin-bottom: 0;
  }

  h5 {
    margin-top: 10px;
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
}
